
<html>

<head>
  <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-mfizz/2.4.1/font-mfizz.min.css">
  <title>Calculator | markhalstead.dev</title>
</head>

<body>
  <div class="calculator-container">

  <header>
    <div class="headerText">
      <a href="/" class="brand">markhalstead.dev</a>
      Simple Calculator App</div>
  </header>
  <div id="calc-wrap">
    <div class="text-right" id="screen">
      <span id="screenFeed">Hello!<span>
     </div>

     <div  id = "calculator">
           <a class="button button-danger small" id = "clearAll">CA</a>

           <a class="button button-danger small" id = "clearOne">C</a>
           <a class="button button-primary small opr" id="/">/</a>
           <a class="button button-primary small opr" id="*">x</a>
           <br>
           <a class="button button-primary small num" id="7">7</a>
           <a class="button button-primary small num" id="8">8</a>
           <a class="button button-primary small num" id="9">9</a>
           <a class="button button-primary small opr" id="-">-</a>
           <br>
           <a class="button button-primary small num" id="4">4</a>
           <a class="button button-primary small num" id="5">5</a>
           <a class="button button-primary small num" id="6">6</a>
           <a class="button button-primary small opr" id="+">+</a>
           <br>
           <a class="button button-primary small num" id="1">1</a>
           <a class="button button-primary small num" id="2">2</a>
           <a class="button button-primary small num" id="3">3</a>
           <a class="button button-primary small opr" id=".">.</a>
           <br>
           <a class="button button-primary wideBtn num" id="0">0</a>
           <a class="button button-primary wideBtn equals" id="=">=</a>
         </div>
   </div>
   <div class="made-with">
     <h1>Made With:</h1>
     <ul>
       <li><i class="fa fab fa-html5" title="HTML5"></i></li>
       <li><i class="fa fab fa-css3" title="CSS3"></i></li>
       <li><i class="icon-javascript" title="Javascript ES6"></i></li>
       <li><i class="icon-jquery" title="jQuery"></i></li>
       <li><i class="fa fa-coffee" title="Coffee"></i></li>
       <li><i class="fa fab fa-heart" title="Love"></i></li>
     </ul>
   </div>
     </div>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" charset="utf-8"></script>

 </body>
</html>
