@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed|Fira+Sans+Extra+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather|PT+Sans|Roboto');
.cell{
  selection:cursor;
}
.cell:hover{
  stroke-width:2;
  stroke:rgba(30,30,50,1);
}
.county:hover{
  stroke-width:1;
}
.heatMap{
   position:absolute;
   width:90%;
   height:90%;
   background-color:rgba(255,255,255,0.95);
   box-shadow: 0px 0px 15px rgba(0,0,0,0.7);
   font-family:"Roboto";
}
 #containerHeat{
   align-items:center;
   justify-content:center;
   display:flex;
   height:54vw;
   max-height:680px;
   width:80vw;
   max-width:1000px;
   border-radius:5px;
  background-image:url("/assets/desert.jpg");
  background-size: cover;
     position:relative;
   box-shadow:inset 0px 0px 15px black;
   cursor:crosshair;
}
.cell{
  stroke: #000;
  stroke-width:0;
  opacity: 1;
}
.x-axis, .y-axis{
  stroke:black;
  stroke-width:0.5;
}
#tooltipHeatmap{
  position:absolute;
  background-color:rgba(80,80,80,0.85);
  font-weight:600;
  color:rgba(250,240,240,1);
  padding: 0.8em;
  z-index:2;
  text-align:right;
  border-radius:20px;
  font-size:25px;
  box-shadow:1px 1px 8px rgba(0,0,0,0.9);
  text-shadow:1px 2px 4px black;
  font-size:1rem;
}
#titleHeatMap{
}
svg{
  stroke-width:0.2;
  stroke:black;
}
.legend{
  z-index:5;
  font-size:0.5em;
}
.tipSmall{
  font-size:0.8rem;
}
.legend g text{
  transform: rotate(180deg) translateX(30px);
  position:relative;
}
