
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Snake with JS</title>
  <meta name="description" content="Snake">
  <meta name="author" content="MarkHalstead">

  <!-- <link type="text/css" rel="stylesheet" href="/styles/style.css"> -->

</head>

<body>
  <div class="brand brand-snake"><a href="/" >m<span class="ark">ark</span>h<span class="alstead">alstead</span>.dev</a></div>

  <div id="title" class="title">
    SNEK

  </div>
<div class="userAndScore">
  <div class="username"><div id="currentUser"><%%= username %%></div> </div>
  <div class="score">
    <div id="highScore"><span>Best Score</span><span><%%= highScore %%></span></div> </div>





</div>

<div id="game-box">

</div>

<ol class="leaderboard">
  <h1 class="leaderboard-title">Leaderboard</h1>
  <li class="leader1"><div class="leaderDisplay">     <%%= leader1 %%>  </div><div class="scoreDisplay">  <%%= score1 %%>  </div></li>
  <li class="leader"><div class="leaderDisplay">    <%%= leader2 %%>  </div><div class="scoreDisplay">  <%%= score2 %%> </div></li>
  <li class="leader"><div class="leaderDisplay">   <%%= leader3 %%>  </div><div class="scoreDisplay">  <%%= score3 %%> </div></li>
  <li class="leader"><div class="leaderDisplay">     <%%= leader4 %%>  </div><div class="scoreDisplay">  <%%= score4 %%> </div></li>
  <li class="leader"><div class="leaderDisplay">     <%%= leader5 %%>  </div><div class="scoreDisplay">  <%%= score5 %%> </div></li>
</ol>

<a class="logout" href="/snake/logout">Logout</a>
<!-- <dialog id="game-dialog ">
  <div class="header-dialog">
      Game Over. Please try again.
  </div>
  <button value="default" id="play-button" type="button">
    Play Again!!
  </button>
</dialog> -->
<!-- <script type="module" src="../../app.js" charset="utf-8" type="text/javascript"></script> -->
<!-- $.sweetModal.confirm('Are you sure?',function() {
2
$.sweetModal('Thanks for confirming!'); -->


</body>
</html>
